@page "/note/add"
@page "/note/edit/{noteId:Guid}"
@using BlazorProject.NotesApp.Data
@inject INoteService NoteService
@inject NavigationManager NavigationManager

<h3>NoteAdd</h3>

<h1>@Title Note</h1>
<hr/>

<EditForm Model="@_note" OnValidSubmit="SaveNote">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="_note.Title"/>
        </div>
        <ValidationMessage For="@(() => _note.Title)"/>
    </div>
    <div class="mb-3">
        <label for="Message" class="form-label">Message</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="_note.Message"/>
        </div>
        <ValidationMessage For="@(() => _note.Message)"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        @*<button class="btn btn-light" @onclick="Cancel">Cancel</button>*@
        <a class="btn btn-light" href="/notelist">Cancel</a>
    </div>
</EditForm>

@code {
    [Parameter]
    public Guid NoteId { get; set; }
    private Note _note = new();
        private const string Title = "Add";

    protected override async Task OnParametersSetAsync()
    {
        // if (NoteId != 0)
        // {
        //     _note = await NoteService.FindById(NoteId);
        // }
    }

    private async Task SaveNote()
    {
        if (_note != null)
        {
            await NoteService.Update(_note);
        }
        else
        {
            await NoteService.Create(_note);
        }
        Cancel();
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/notelist");
    }
}
